In [1]:
import pandas as pd

# Series

In [2]:
data = [i for i in range(0,10)]

In [4]:
s = pd.Series(data)

In [5]:
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
index = ['Linha' + str(i) for i in range(0,10)]

In [7]:
index

['Linha0',
 'Linha1',
 'Linha2',
 'Linha3',
 'Linha4',
 'Linha5',
 'Linha6',
 'Linha7',
 'Linha8',
 'Linha9']

In [8]:
s = pd.Series(data=data, index=index)

In [9]:
s

Linha0    0
Linha1    1
Linha2    2
Linha3    3
Linha4    4
Linha5    5
Linha6    6
Linha7    7
Linha8    8
Linha9    9
dtype: int64

In [10]:
data = {'Linha' + str(i) : i+1 for i in range(0,10)}

In [11]:
data

{'Linha0': 1,
 'Linha1': 2,
 'Linha2': 3,
 'Linha3': 4,
 'Linha4': 5,
 'Linha5': 6,
 'Linha6': 7,
 'Linha7': 8,
 'Linha8': 9,
 'Linha9': 10}

In [12]:
s = pd.Series(data)

In [13]:
s

Linha0     1
Linha1     2
Linha2     3
Linha3     4
Linha4     5
Linha5     6
Linha6     7
Linha7     8
Linha8     9
Linha9    10
dtype: int64

In [14]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [17]:
df1 = pd.DataFrame(data)

In [18]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
index = ['Linha ' + str(i) for i in range(3)]

In [20]:
index

['Linha 0', 'Linha 1', 'Linha 2']

In [21]:
df1 = pd.DataFrame(data, index)

In [22]:
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [23]:
columns = ['Coluna ' + str(i) for i in range(3)]

In [24]:
columns

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [25]:
df1 = pd.DataFrame(data, index, columns)

In [26]:
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9